<!-- Header -->
<nav class="navbar navbar-expand-lg" style="background-color: #F89734;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/index"><img src="assets/home.png" alt="home" class="home"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schoolactivities">교내활동</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scholarship">장학금</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/signin">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">회원가입</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Search -->
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
      <div class="input-group search-input">
        <input type="text" class="form-control search-form" aria-label="Text input with radio button">
        <span class="input-group-addon addon-white"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
  </div>
  <div class="col-lg-4"></div>
</div>

<!-- Information -->
<div class="container information-container">
    <button type="button" class="btn btn-dark">D-8</button>
    <p class="information-header">2학기 Duksung International Buddy 모집</p>
    <img src="assets/img1.jpg" alt="infoimg" class="information-image" align="left">
    
    <div class="information-content-parent">
    <p class="information-content">참여대상</p>
    <p class="information-content">모집인원</p> 
    <p class="information-content">활동기간</p><br>
    
    <br><br><br>
    
    <p class="information-content">활동혜택</p>
    <p class="information-content">우대역량</p>
    <p class="information-content">홈페이지</p>
    </div>
    
    <br><br><br><br>

    <button type="button" class="btn btn-orange apply">지원하기</button>
    <button type="button" class="btn btn-orange scrap">스크랩</button>
    
    <br><br>
    
    <p class="detail-content">세부내용</p>
    <p>
      [지원자격]<br>
      1. 선발인원:총25명(1:1)<br>
      2.자원자격: 해당 언어 사용 가능자(2017.2학기 8학기 내 재학생만 가능/휴학샹 불가)<br>
      3.활동기간:2017학년 2학기 (공항 픽업부터 환송회까지)<br>
    </p>
    <button type="button" class="btn btn-orange more">더보기</button>
</div>