<!-- Header -->
<nav class="navbar navbar-expand-lg" style="background-color: #F89734;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/index"><img src="assets/home.png" alt="home" class="home"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schoolactivities">교내활동</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scholarship">장학금</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="signin">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">회원가입</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Search -->
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
      <div class="input-group search-input">
        <input type="text" class="form-control search-form" aria-label="Text input with radio button">
        <span class="input-group-addon addon-white"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
  </div>
  <div class="col-lg-4"></div>
</div>

<!-- Selection -->
<div class="container selection-container">
  <div class="selection-header">
    <button type="button" class="btn btn-white" id="categoryFunction" onclick="myFunction()">카테고리</button>
    <button type="button" class="btn btn-white" id="interested_fieldFunction" onclick="myFunction()">관심분야</button>
  </div>
  
  <hr id="selection-hr">
  
  <button type="button" class="btn btn-outline-secondary category">과학/공학/기술/IT</button>
  <button type="button" class="btn btn-outline-secondary interested_field">경영/컨설팅/마케팅</button>
  <button type="button" class="btn btn-outline-secondary interested_field">요리/식품</button>
  <button type="button" class="btn btn-outline-secondary category">유통/물류</button>
  <button type="button" class="btn btn-outline-secondary interested_field">창업/자기계발</button>
  <button type="button" class="btn btn-outline-secondary interested_field">정치/사회/법률</button>
  <button type="button" class="btn btn-outline-secondary category">여행/호텔/항공</button>
  <button type="button" class="btn btn-outline-secondary interested_field">언론/미디어</button>
  <button type="button" class="btn btn-outline-secondary interested_field">문화/역사</button>
  <button type="button" class="btn btn-outline-secondary category">교육</button>
  <button type="button" class="btn btn-outline-secondary interested_field">경제/금융</button>
  <button type="button" class="btn btn-outline-secondary interested_field">콘텐츠</button>
  <button type="button" class="btn btn-outline-secondary category">디자인/사진/예술/영상</button>
</div>
<!-- Content -->
<div class="container content-container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <a href="/detailpage">
          <img class="card-img-top" src="assets/img1.jpg" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">2학기 Duksung International Buddy</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-8</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">2017년도 2학기 English Speaking Club</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-1</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">아름다운 하루 in 덕성여대 기획단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-5</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img2.jpg" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">제16기 덕성여대 학생홍보팀 학생기자단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-15</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">2학기 Duksung International Buddy</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-8</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">2017년도 2학기 English Speaking Club</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-1</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">아름다운 하루 in 덕성여대 기획단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-5</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img2.jpg" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">제16기 덕성여대 학생홍보팀 학생기자단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-15</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">2학기 Duksung International Buddy</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-8</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">2017년도 2학기 English Speaking Club</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-1</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">아름다운 하루 in 덕성여대 기획단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-5</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <img class="card-img-top" src="assets/img2.jpg" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">제16기 덕성여대 학생홍보팀 학생기자단</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <button type="button" class="btn btn-dark">D-15</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-orange more">더보기</button>

<!-- Script -->
<script type="text/javascript">
function myFunction() {
    var categories = document.getElementsByClassName("category");
    var interested_fields = document.getElementsByClassName("interested_field");
    var i;
    
    var cate = document.getElementById("categoryFunction").id;
    var inte = document.getElementById("interested_fieldFunction").id;
    
    if(cate == "categoryFunction"){
      for(i = 0; i < categories.length; i++) {
        if(categories[i].style.display == "inline-block")
          categories[i].style.display = "inline"
        else
          categories[i].style.display = "none"
      }
    } else if(inte == "interested_fieldFunction") {
      for(i = 0; i < interested_fields.length; i++) {
        if(interested_fields[i].style.display == "inline-block")
          interested_fields[i].style.display = "inline"
        else
          interested_fields[i].style.display = "none"
      }
    }
}
</script>