<!--클래스 명 다시 명명하고 css에 추가-->

<section class="carousel-item active">
  <form action="" method="post">
    <div class="login_title">
      <h5 class="first_title">
        덕성을 담다
      </h5>
      <h3>
        덕담
      </h3>
    </div>
      <div class="card login">
      
        <div class="card-block">
          <h3 class="card-title login">회원가입</h3>
          <div align="center">
            <div class="input-group login-input">
              <input type="text" class="form-control" placeholder="아이디">
            </div>
            
            <div class="input-group login-input">
              <input type="text" class="form-control" placeholder="비밀번호 (8자리 이상)">
            </div>
            
            <div class="input-group login-input">
              <input type="text" class="form-control" placeholder="비밀번호 확인">
            </div>
            
            <button class="btn btn-warning sign_in">가입하기</button>
          
          </div>
          
          <hr>
          <div class="login_signup" align="center">
            이미 회원이세요?
            <a href="/signin">로그인하기</a>
          </div>
      </div>      
    </div>
  </form>
</section>
