<section class="carousel-item active">
  <form action="" method="post">
    <div class="login_title">
      <h5 class="first_title">
        덕성을 담다
      </h5>
      <h3>
        덕담
      </h3>
    </div>
      <div class="card login">
      
        <div class="card-block">
          <h3 class="card-title login">로그인</h3>
          <div align="center">
            <div class="input-group login-input">
              <input type="text" class="form-control" placeholder="아이디">
            </div>
            
            <div class="input-group login-input">
              <input type="text" class="form-control" placeholder="비밀번호">
            </div>
            
            <button class="btn btn-warning sign_in">로그인</button>
          
          </div>
          
          <div class="login_group">
            <div class="login_checkbox">
              <input type="checkbox">로그인 상태 유지
            </div>
            <div class="login_finding">
              <a href="#">아이디/비밀번호 찾기</a>
            </div>
          </div>
          <hr>
          <div class="login_signup" align="center">
            아직 회원이 아니세요?
            <a href="/signup">회원가입</a>
          </div>
      </div>      
    </div>
  </form>
</section>
